<!-- Author By Koo Chung Hing -->
<!-- Date: 1/4/2021 -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Information</title>
    <link rel="stylesheet" type="text/css"
    href="{% static 'css/Form.css'%}">
</head>
<body>
<div class="container">
     <center><h1>Product Information</h1></center>
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-25">
        <label for="ProductID">Product ID:</label>
          </div>
        <div class="col-75">
          {{StockID}}
           <input type="hidden" id="ProductID" name="ProductID" value="{{StockID}}">
      </div>
        </div>
    <div class="row">
        <div class="col-25">
        <label for="hiddenName">Product Name:</label>
          </div>
        <div class="col-75">
            {{Name}}
           <input type="hidden" id="hiddenName" name="hiddenName" value="{{Name}}">
      </div>
        </div>
    <div class="row">
        <div class="col-25">
        <label for="hiddenPrice">Product Unit Price:</label>
          </div>
        <div class="col-75">
            {{Price}}
           <input type="hidden" name="hiddenPrice" id="hiddenPrice" value="{{Price}}">
      </div>
        </div>
    <div class="row">
    <input type="submit" value="submit">
        </div>
</form>
</div>
</body>
</html>