<!-- Author By Koo Chung Hing -->
<!-- Date: 1/4/2021 -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EditPrice</title>
    <link rel="stylesheet" type="text/css"
    href="{% static 'css/Form.css'%}">
</head>
<body>

<div class="container">
    <center><h1>EditPrice</h1></center>
  <form action="../EditProduct/" method="POST">
      {% csrf_token %}
    <div class="row">
      <div class="col-25">
        <label for="StockID">StockID:</label>
      </div>
      <div class="col-75">
          {{StockID}}
         <input type="hidden" name="StockID" id="StockID" value="{{StockID}}" >
      </div>
    </div>
    <div class="row">
      <div class="col-25">
       <label for="StockName">StockName:</label>
      </div>
      <div class="col-75">
          {{Name}}
         <input type="hidden" name="StockName" id="StockName" value="{{Name}}"><br>
      </div>
    </div>
      <div class="row">
      <div class="col-25">
       <label for="Price">Price:</label>
      </div>
      <div class="col-75">
          <input type="number" name="Price" id="Price" value="{{Price}}"><br><br>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
</body>
</html>